{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'research:index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'research:malaria' %}">Malaria</a></li>
    <li class="breadcrumb-item">Diagnosis</li>
  </ol>
</nav>
{% endblock%}

{% block research %}
<br>
{% if malaria_diagnosis %}
{% for malaria_diagnosis in malaria_diagnosis %}
<div class="list-group">
  <a href="{% url 'research:research-detail' malaria_diagnosis.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <strong><p class="mb-1">{{ malaria_diagnosis.title }}</p></strong>
      <small class="text-muted">{{ malaria_diagnosis.scraped_date }}</small>
    </div>
    <br>
    <small class="text-muted">Source: {{ malaria_diagnosis.url }}</small>
  </a>
</div>
<br>
{% endfor %}
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% else %}
<br>
<img src="{% static 'images/error.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;" class="text-muted">Research results not found...</p>
<p style="text-align: center;" class="text-muted">We are working very hard to make them available.</p>
<br>
{% endif %}
<br>
{% endblock %}
