{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'research:list' %}">Home</a></li>
  </ol>
</nav>
{% endblock%}

{% block research %}
{% comment %} {% for research in researches %} {% endcomment %}
  <div class="table-responsive-sm">
    <p>A</p>
    <table class="table">
    <thead>
    <tr>
      <th scope="col">Research List</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
{% for research in researches %}
    <tbody>
      <tr>
        <td><a href="{{ research.url }}">{{ research.title }}</a></td>
        <td><a href="{% url 'reviews:create' %}"><img src="{% static 'images/clap.png' %}" width="30" height="30" alt=""></a></td>
      </tr>
    </tbody>
{% endfor %}
    </table>
  </div>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
<br>
{% endblock %}
