{% load static %}

{% block research %}
{% if object_list %}
{% for object_list in object_list %}
<div class="list-group">
    <a href="{% url 'research:research-detail' object_list.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <strong>
                <p class="mb-1">{{ object_list.title }}</p>
            </strong>
            <small class="text-muted">{{ object_list.scraped_date }}</small>
        </div>
        <br>
        <small class="text-muted">Source: {{ object_list.url }}</small>
    </a>
</div>
<br>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        <li class="page-item"><a class="page-link" href="">/</a></li>
        <li class="page-item"><a class="page-link"
                href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}
    </ul>
</nav>
<br>
{% else %}
<br>
<img src="{% static 'images/error.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;" class="text-muted">Research results not found...</p>
<p style="text-align: center;" class="text-muted">We are working very hard to make them available.</p>
<br>
{% endif %}
{% endblock %}