{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'research:list' %}">Home</a></li>
  </ol>
</nav>
{% endblock%}

{% block research %}
{% comment %} {% for research in researches %} {% endcomment %}
  <div class="table-responsive-sm">
    <table class="table">
    <thead>
    <tr>
      <th scope="col">Research List</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
{% for research in researches %}
    <tbody>
      <tr>
        <td><a href="{{ research.url }}">{{ research.title }}</a></td>
        <td><a href="{% url 'reviews:create' %}"><img src="{% static 'images/clap.png' %}" width="30" height="30" alt=""></a></td>
      </tr>
    </tbody>
{% endfor %}
    </table>
  </div>
<br>
{% endblock %}
