{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'research:index' %}">Home</a></li>
    <li class="breadcrumb-item">TB</li>
  </ol>
</nav>
{% endblock%}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>Key facts about TB</h3>
    <p class="lead"><small>
      Tuberculosis (TB) is caused by bacteria (Mycobacterium tuberculosis) that most 
      often affect the lungs. Tuberculosis is curable and preventable. TB is spread 
      from person to person through the air. When people with lung TB cough, sneeze or 
      spit, they propel the TB germs into the air. A person needs to inhale only a few of 
      these germs to become infected.</small>
     </p>
  </div>
</div>
{% endblock %}

{% block research %}
<ul class="list-group">

  <a href="{% url 'research:TB_treatment' %}"><li class="list-group-item d-flex justify-content-between align-items-center">
    Treatment
    <span class="badge badge-primary badge-pill">{{ treatment_count }}</span>
  </li></a>
</ul>
{% endblock %}
