{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'research:index' %}">Home</a></li>
    <li class="breadcrumb-item">Malnutrition</li>
  </ol>
</nav>
{% endblock%}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4>Malnutrition</h4>
    <hr>
    <p class="lead text-muted"><small>
        There are 4 broad sub-forms of undernutrition: wasting, stunting,
        underweight, and deficiencies in vitamins and minerals. Undernutrition
        makes children in particular much more vulnerable to disease and death.</small>
    </p>
  </div>
</div>
{% endblock jumbotron %}

{% block research %}
<ul class="list-group col-md-6">
  <a href="{% url 'research:malnutrition_treatment' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Control & Treatment
      <span class="badge badge-primary badge-pill">{{ treatment_count }}</span>
    </li>
  </a>
  <a href="{% url 'research:malnutrition_location' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      County-based
      <span class="badge badge-primary badge-pill">{{ location_count }}</span>
    </li>
  </a>
</ul>
{% endblock %}