{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'research:index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:create' %}">Create</a></li>
  </ol>
</nav>
{% endblock%}

{% block review %}
<div class-"container">
<form method="post">{% csrf_token %}
    <div class="form-group">
        {{ form.rating|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.comment|as_crispy_field }}
    </div>
</div>
<button type="submit" class="btn btn-primary btn-sm btn-block">Review</button>
</form>
<br>
<hr>
<a href="{% url 'reviews:list' %}">View all previous comments</a>
<hr>
</div>
{% endblock %}