{% extends 'base.html' %}
{% load static %}

{% block research %}
<br>
<div class="col-md-8" style="margin-left: auto; margin-right: auto; display: block; background-color: white;">
    <h3>Protect yourself against the coronavirus pandemic</h3>
    <hr>
    <p>
        Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
        Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special
        treatment.
    </p>
    <p>
        The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs,
        sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
        You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or
        by touching a contaminated surface and then your eyes, nose or mouth.
    </p>
    <p>
        Protect yourself and others around you by knowing the facts and taking appropriate precautions.
        Follow advice provided by your local public health agency.
        Here at Health Research Portal we would like to urge you to observe the following measures
        as stipulated by the WHO:
    </p>
    <p style="margin-left: 50px;">1. Wash your hands frequently</p>
    <p style="margin-left: 50px;">2. Maintain social distancing</p>
    <p style="margin-left: 50px;">3. Avoid touching your eyes, nose and mouth</p>
    <p style="margin-left: 50px;">4. Practice respiratory hygiene</p>
    <p style="margin-left: 50px;">5. If you have fever, cough and difficulty breathing, seek medical care early</p>
    <p style="margin-left: 50px;">6. Stay informed and follow advice given by your healthcare provider</p>

    <p>
        Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively,
        therefore protecting you and others. STAY AT HOME. STAY SAFE.
    </p>

</div>
{% endblock %}