{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-10">Welcome to Health Research Portal</h1>
    <p class="lead">Where health researches have been found and intelligently categorized for you
    to help you utilize them better and interact with other health experts on relevant matters.</p>
  </div>
</div>
{% endblock%}

{% block research %}
<br>
<button type="button" class="collapsible">  CERTAIN INFECTIOUS AND PARASITIC DISEASES</button>
<div class="content">
  <br>
  <ul>
    {% comment %} <li><a href="{% url 'research:cholera' %}">Cholera</a></li>
    <hr> {% endcomment %}
    <li><a href="{% url 'research:malaria' %}">Malaria</a></li>
    <hr>
    <li><a href="{% url 'research:measles' %}">Measles</a></li>
    <hr>
    <li><a href="{% url 'research:TB' %}">TB</a></li>
    <hr>
    <li><a href="{% url 'research:typhoid' %}">Typhoid</a></li>
  </ul>
</div>
<hr>
<button type="button" class="collapsible"> NEOPLASMS</button>
<div class="content">
  <br>
  <ul>
    <li><a href="{% url 'research:cancer' %}">Cancers</a></li>
    <hr>
  </ul>
</div>
<hr>
<button type="button" class="collapsible"> ENDOCRINE, NUTRITIONAL AND METABOLIC DISEASES</button>
<div class="content">
  <br>
  <ul>
    <li><a href="{% url 'research:diabetes' %}">Diabete Mellitus</a></li>
    <hr>
    <li><a href="{% url 'research:malnutrition' %}">Malnutrition</a></li>
  </ul>
</div>
<hr>
<button type="button" class="collapsible"> DISEASES OF THE RESPIRATORY SYSTEM</button>
<div class="content">
  <br>
  <ul>
    {% comment %} <li><a href="{% url 'research:pneumonia' %}">Asthma</a></li>
    <hr> {% endcomment %}
    <li><a href="{% url 'research:pneumonia' %}">Pneumonia</a></li>
  </ul>
</div>
<hr>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}