{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block research %}
<br>
<div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <div class="card-body">
    <div class="row">
      <h4 class="col-md-10 card-title">{{ object.title }}</h4>
      {% if recommender in recommenders%}
      <a href="{% url 'research:recommends' object.id %}">
        <button type="button" class="btn btn-outline-danger btn-sm">
          Unreccomend - ({{ recommends_count }})</button></a>
      {% else %}
      <a href="{% url 'research:recommends' object.id %}">
        <button type="button" class="btn btn-outline-success btn-sm">
          Reccomend - ({{ recommends_count }})</button></a>
      {% endif %}
    </div>
    <hr>
    <br>
    <p class="card-text text-muted">This research has been sourced from: <a href="{{ object.url }}"
        target="_blank">{{ object.url }}</a></p>
    <hr>
    <p class="card-text text-muted"><strong> Scraped Date:</strong> {{ object.scraped_date|date }}</p>
    <hr>
    <p class="card-text text-muted"><strong>Research Keyword:</strong> {{ object.keyword }}</p>
    <hr>
    <a href="{% url 'research:discussions' object.id %}">
      <button type="button" class="btn btn-outline-primary btn-sm"> Leave a discussion -
        ({{ object.discussions.count }})</button></a>
    <hr>
    <br>
    <h3> Read the Abstract</h3>
    <hr>
    {{ object.abstract }}
    <hr>
    <blockquote class="blockquote mb-0">
      <br>
      <footer class="blockquote-footer">Scraped by <cite title="Source Title"><span class="badge badge-success">Health
            Research Portal</span></cite></footer>
    </blockquote>
  </div>
</div>
<br>
{% endblock%}